#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links{
    color: black;
}

#register{
    float: left;
}

#register:hover{
    color: black;
    text-underline: none;
}

#forgot{
    float: right;
}


#error{
    color: darkred;
}