html {
    display: block;
    padding: 0;
    background-color: blue;
    color: antiquewhite;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
    max-width: 250px;
}
header {
    height: 10%;
}

