html{
    background-image: url(../img/bgImage.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#app {
    height: 100%;
    padding: 0;
}
 #content-area {
     height: 100%;
 }
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: olivedrab;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: darkseagreen;
    height: 100%;
}

/* Set main background color, and text*/
.background-darkolivegreen {
    background-color: darkolivegreen;
    color: antiquewhite;
    padding: 15px;
}

.background-olivedrab{
    background-color: olivedrab;
    color: antiquewhite;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}