main{
    background-color:green;
}

#preexerciselevel_button_save{
    color:black;
    background-color:green;
    border-color:green;
    cursor:pointer;
}

#preexerciselevel_button_plus_one{
    border-radius:15px;
    color:black;
    border-color:green;
}

#preexerciselevel_button_plus_one:hover{
    border-color:black;
}

#preexerciselevel_button_plus_two{
    border-radius:15px;
    color:black;
    border-color:green;
}

#preexerciselevel_button_plus_two:hover{
    border-color:black;
}

#preexerciselevel_button_plus_three{
    border-radius:15px;
    color:black;
    border-color:green;
}

#preexerciselevel_button_plus_three:hover{
    border-color:black;
}

#preexerciselevel_sex{
    color:black;
}

#preexerciselevel_job{
    color:black;
}