#gebdat{
    color:black;
}

#profileSettings_button{
    color:black;
    background-color:green;
    border-color:green;
    cursor:pointer;
}

#profileSettings_button:hover{
    border-color:black;

}